.logo-container{
  margin: 1rem;
  padding: 2rem 2rem;

}

.logo-img {
  display: inline-block;
  width: 80px;
  height: auto;
  padding: 1rem 1rem;
  
}
.company-name-container{
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  padding: 1rem 1rem;
}
@media screen and (max-width: 640px) {
  /* On small screens, we want the company*/
  /* name to be on its own line */
  

}