@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Roboto",sans-serif;
  background-color: eef0f2;
}
.navigation{
  display: flex;
  justify-content: space-between;
}
.logo-container:hover {
  border: 2px solid red;
}
.logo-container{
  display: flex;
  width:fit-content;
  flex-wrap: nowrap;
  align-items: center;
}
.logo-img{
  width: 80px;
  height: auto;
}
.company-name{
  font-family:"Roboto",sans-serif ;
  font-weight: 700;
  font-style: italic;
  font-style: bold;
}
.menu{
  display: flex;
  justify-content: space-between;
  user-select: none;
  list-style:  none;  
}
#login-btn{
  display: flex;
  justify-content: space-between;
}
#register-btn{
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}